{% extends "bottleAnalytics/base.html" %}
{% load static %}
{% block title %}Analytics{% endblock %}
{% block description %}Review your water intake over the last 24h here.{% endblock %}

{% block content %}
    <div id="weight_chart"></div>
    <div id="temp_chart"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'bottleAnalytics/d3.v5.min.js' %}"></script>
    <script>
        function weight_chart() {
            let margin = {top: 30, right: 20, bottom: 20, left: 30}
                , width = 380 - margin.left - margin.right // Use the window's width
                , height = 250 - margin.top - margin.bottom; // Use the window's height

            let data_raw = [
                    {% for r in readings %}{"x":{{ r.timestamp }},"y":{{ r.weight }}},{% endfor %}
            ];

            let data_smooth = [
                    {% for r in readings_s %}{"x":{{ r.t }},"y":{{ r.w }}},{% endfor %}
            ];

            let xScale = d3.scaleLinear()
                .domain([{{ min_timestamp }}, {{ max_timestamp }}]) // input
                .range([0, width]); // output

            let yScale = d3.scaleLinear()
                .domain([0, 1]) // input
                .range([height, 0]); // output

            let svg = d3.select("#weight_chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.append("g")
                .attr("class", "y axis")
                .call(d3.axisLeft(yScale)); // Create an axis component with d3.axisLeft

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(xScale).ticks(0, "d")); // Create an axis component with d3.axisBottom


            function plot_line(data, yi) {
                // 9. Append the path, bind the data, and call the line generator
                svg.append("path")
                    .datum(data) // 10. Binds data to the line
                    .attr("class", "line") // Assign a class for styling
                    .attr("id", "wc_line" + yi)
                    .attr("d",
                        d3.line()
                            .x(function (d) {
                                return xScale(d.x);
                            }) // set the x values for the line generator
                            .y(function (d) {
                                return yScale(d.y);
                            }) // set the y values for the line generator
                            .curve(d3.curveMonotoneX) // apply smoothing to the line
                    );
            }

            plot_line(data_raw, 0);
            plot_line(data_smooth, 1);
        }

        function temp_chart() {
            let margin = {top: 30, right: 20, bottom: 20, left: 30}
                , width = 380 - margin.left - margin.right // Use the window's width
                , height = 100 - margin.top - margin.bottom; // Use the window's height

            let data = [
                    {% for r in readings %}{"x":{{ r.timestamp }},"y":{{ r.temp }}},{% endfor %}
            ];

            let xScale = d3.scaleLinear()
                .domain([{{ min_timestamp }}, {{ max_timestamp }}]) // input
                .range([0, width]); // output

            let yScale = d3.scaleLinear()
                .domain([{{ min_temp }}, {{ max_temp }}]) // input
                .range([height, 0]); // output

            let svg = d3.select("#temp_chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.append("g")
                .attr("class", "y axis")
                .call(d3.axisLeft(yScale).ticks(3)); // Create an axis component with d3.axisLeft

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(xScale).ticks(0, "d")); // Create an axis component with d3.axisBottom

            svg.append("path")
                .datum(data) // 10. Binds data to the line
                .attr("class", "line") // Assign a class for styling
                //.attr("id", "tc_line")
                .attr("d",
                    d3.line()
                        .x(function (d) {
                            return xScale(d.x);
                        }) // set the x values for the line generator
                        .y(function (d) {
                            return yScale(d.y);
                        }) // set the y values for the line generator
                        .curve(d3.curveMonotoneX) // apply smoothing to the line
                );
        }

        weight_chart();
        temp_chart();
    </script>
{% endblock %}
