{% extends "bottleAnalytics/base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="text-muted">
                    Edit your personal settings here.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto settings-form p-3">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <p class="text-center m-0">
                        <a href="{% url 'index' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
