body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.score-badge {
  border: 1px solid #d6d6d6;
}

.score-header {
  background-color: #305885;
  border: 2px solid #428bca;
  color: #fafafa;
  font-family: 'Oswald', sans-serif;
  font-size: large;
}

.score-value {
  font-size: 120pt;
  font-family: sans-serif;
  font-weight: bold;
  line-height: normal;
  color: #fafafa;
  text-shadow: 2pt 2pt 10pt rgba(0, 0, 0, 0.5);
}

.score-description {
  background-color: rgba(250, 250, 250, 0.8);
  border: 1px solid #d6d6d6;
  width: 200pt;
  color: #333333;
  font-size: small;
}

.score-O {
  background-color: #c9ce00;
}

.score-A {
  background-color: #98CE00;
}

.score-B {
  background-color: #c9ce00;
}

.score-C {
  background-color: #ce8200;
}

.score-D {
  background-color: #ce2a00;
}

.btn-refresh-score {
  background-color: #428bca;
  color: #fafafa;
  font-family: 'Oswald', sans-serif;
}

.btn-refresh-score:active {
  background-color: #305885;
}

#weight_chart .line {
  fill: none;
  stroke: #305885;
  stroke-width: 2px;
}

#weight_chart #wc_line1 {
  stroke: #279015;
  stroke-width: 4px;
}

#weight_chart .axis line, #weight_chart .axis path {
  stroke: #5f788a;
}

#weight_chart text {
  fill: #5f788a;
}

#temp_chart .line {
  fill: none;
  stroke: #ce2a00;
  stroke-width: 3px;
}

#temp_chart .axis line, #temp_chart .axis path {
  stroke: #5f788a;
}

#temp_chart text {
  fill: #5f788a;
}

.settings-form {
  border: 2px dotted gray;
}
